# The URL of the API server
API_URL='http://localhost:4000'

# The username and token for the Twitch bot. You can get the token from https://twitchtokengenerator.com/
BOT_USERNAME='username'
BOT_TOKEN='oauth:your_token_here'