# This is the API token from https://www.themoviedb.org/settings/api
TMDB_TOKEN=your_token_here

# This is the database connection string for postgres. You can use a local database or a hosted one like Supabase.
# Example: postgres://postgres:postgres@localhost:5432/k-cinema-bot
DATABASE_URL=your_database_url_here
